.Header{
    background-color: #222;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 2px;
}
.headerWrapper{
    border: 2px solid red;
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 0.6%;
    padding-bottom: 0.4%;
    background-color: #222;
    
}

.searchBar {
    background-color: white;
    
}